<span
	class="text-xs w-fit font-mono font-semibold px-2.5 py-1 rounded-md text-muted-foreground bg-card border border-border shadow-sm dark:shadow-none group-hover:text-blue-700 group-hover:dark:text-blue-400/90 group-hover:bg-blue-50 group-hover:dark:bg-blue-500/10 group-hover:border-blue-100 group-hover:dark:border-blue-500/20 group-data-active:text-blue-700 group-data-active:dark:text-blue-400/90 group-data-active:bg-blue-50 group-data-active:dark:bg-blue-500/10 group-data-active:border-blue-100 group-data-active:dark:border-blue-500/20"
>
	<slot />
</span>
