---
interface Props {
	class?: string;
}

import { cn } from '@/utils/cn';

const { class: className } = Astro.props;
---

<div class={cn('relative border-l border-border', className)} data-animate="stagger">
	<div
		class='absolute top-0 bottom-0 -left-px w-px origin-top bg-linear-to-b from-blue-500 via-blue-400 to-transparent'
		data-timeline-beam
	>
	</div>
	<slot />
</div>
