---
import { getLangFromUrl } from '@/utils/language';
import { contact as contactCollection, getByLang, ui } from '@irfnd/data';

const lang = getLangFromUrl(Astro.url);
const { footer } = getByLang(ui, lang);
const contactItems = getByLang(contactCollection, lang).items;

const currentYear = new Date().getFullYear();
const footerContact = contactItems.filter((item) => item.showInFooter);
---

<footer
	class="border-t border-border/60 pt-8 flex flex-col items-center md:flex-row md:items-center justify-between gap-4"
>
	<p class="text-xs text-muted-foreground/80">
		{footer.copyright.replace('{year}', currentYear.toString())}
		{footer.builtWith}
	</p>

	<div class="flex gap-4">
		{
			footerContact.map((item) => (
				<a
					href={item.url}
					target="_blank"
					rel="noopener noreferrer"
					class="text-xs text-muted-foreground hover:text-blue-600 dark:hover:text-white transition-colors rounded-sm outline-none focus-visible:ring focus-visible:ring-blue-400 dark:focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-background"
				>
					{item.label}
				</a>
			))
		}
	</div>
</footer>
